[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
[submodule "extlib/sdl12-compat"]
	path = extlib/sdl12-compat
	url = https://github.com/playmer/sdl12-compat/
[submodule "extlib/SDL2"]
	path = extlib/SDL2
	url = https://github.com/libsdl-org/SDL.git
